body{
    background-color: #0F172A;
}
h1 {
    color: #F8FAFC;
}
p{
   color:  #94A3B8;
}
.logo{
    color: #F8FAFC;
}
.logo span{
     color: #06B6D4;
}
.about-content h2{
    color:  #F8FAFC;
}
.about-content p{
    color: #94A3B8;
}
#skills h2,h3 {
    color:  #F8FAFC;
}
#skills ul li{
    color: #94A3B8;
}